{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<body>
    <div class="card-header">
        <h1>Waiting Room </h1>
    </div>

    <div class="row">
        <div class="col-8">
            
            <a class="leave-room-btn" href="{% url 'chat-index' %}">Leave Room</a>
            <!-- Append Child MESSAGE element every time chat-message is sent -->
            <div class="chat-container">
                <div id="chat-log">
                    {% for chat in saved_chats.all %}
                    {% if chat.user.username == request.user.username %}
                    <div class="container">
                    <div class="message sender">
                            <img src="/w3images/bandmember.jpg" alt="{{chat.user.username}}">
                            <div class="message">
                                <!-- <span class="badge badge-light">
                                    {{chat.user.username}}
                                  </span>                             -->

                                <p>{{chat.content}}</p>
                                <span class="time-right">11:00</span>
                            </div>
                        </div>
                      </div>
                        {% else %}
                        <div class="container darker">
                            <div class="message receiver">
                                <!-- {{chat.content}} -->
                              <img src="/w3images/avatar_g2.jpg" alt="{{chat.user.username}}" class="right">
                              <div class="message">

                                  <p>{{chat.content}}</p>
                                  <span class="time-left">11:01</span>
                                </div>
                            </div>

                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            
            <div class="chat-container">
                {% if request.user.is_authenticated %}
                <input class="chat-msg-input" id="chat-message-input" type="text" size="50"><br>
                <input class="chat-msg-button" id="chat-message-submit" type="button" value="Send"> 
                {{ request.user.id|json_script:"request_user_id"}}
                {{ request.user.username|json_script:"request_user_username"}}
                {{ request.user.is_authenticated|json_script:"user_isAuthenticated"}}
                
                <script>
                    console.log(JSON.parse(document.getElementById('request_user_username').textContent))
                    console.log("isAuth: ", JSON.parse(document.getElementById('user_isAuthenticated').textContent))
                </script>
                {% else %}
                <!-- Prompt to login/Signup -->
                    {% include 'core/components/login_card.html' %}
                {% endif %}
            </div>
        </div>
        
        <!-- Sidebar -->
        <div class="col-4">
            <div class="list-group"> 
                
                <h2>Queue
                    <hr>
                </h2>
                <div id='waiting_queue' class="profile_avatar">
                    <!--
                    -->
                    
                    {%  for user in user_list %}
                    
                    <a href="" id="user-{{user.id}}" class="list-group-item list-group-item-action">
                                <div class="nodes">
                                    <span class="badge badge-light">
                                        <span class="sr-only">
                                            unread messages
                                        </span>
                                        {{ user.id }}
                                    </span>
                                    {{ user.username }} 
                                </div>
                            </a>
                    {% endfor %} 
                            <!-- 
                             -->
                </div>
                <!--  for user in user_list %}
                    <div id="waiting_queue_node" class="avatar avatar--small">
                    {user.username}}
                    </div>
                { endfor %} -->
            </div>
            <!-- End List-Group -->
        </div>
        <!-- End Sidebar -->        
    </div>
    <!-- End Row-1 -->


    {{ room_name|json_script:"room-name" }}
    
    <script src="{% static 'chat/js/msg_room.js' %}"></script>
</body>
{% endblock %}

<!-- block js_content %} 
    % endblock %}
-->